Source: qttrack
Maintainer: qttrack@rkapl.cz
Build-Depends: qtbase5-dev (>=5.2.0), libqt5svg5-dev (>=5.2.0), libqt5widgets5 (>= 5.2.0),
 pkg-config (>=0.28), libical-dev (>= 1.0.0), debhelper (>= 9.20120311)

Package: qttrack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: track time spent on various activities
 A simple Time Tracker modeled after the discontinued KTimeTracker. 
 It has similar interface and uses the same file format.

